<%- include('partials/header') -%>

<body>
    <h2>MUPALAVRA</h2>
    <div class="explanation">   
    <p>Descubra a palavra oculta.</p>
    <p>A palavra está relacionada com a coleção do Museu Paranaense.</p>
    <p>O fundo <span class="rightLetter">verde escuro</span> significa que a letra existe na palavra oculta e está no lugar certo.</p>
    <p>O fundo <span class="wrongPlace">amarelo</span> significa que a letra existe na palavra oculta, mas em outro lugar.</p>
    <p>O fundo <span class="wrongLetter">cinzento</span> significa que a letra não existe na palavra oculta.</p>
    
</div>
<div class="explanationLink">
    <a href="/game">Vamos jogar!</a>
</div>

    </body>
</html>